<!DOCTYPE html>
<html>
    <head>
        <title>Index Pages</title>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"></link>
    </head>
    <body>
        <%= text %>
    </body>
</html>